<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       https://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:config.properties"></context:property-placeholder>
    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClass" value="${jdbc.driverClassName}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
    </bean>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

    <!--配置Mp的sqlSessionFactoryBean-->
    <!--com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="typeAliasesPackage" value="org.example.beans"></property>
        <property name="globalConfig" ref="globalConfiguration"></property>
        <property name="plugins">
            <list>
                <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor"></bean>
               <!-- <bean class="com.baomidou.mybatisplus.plugins.SqlExplainInterceptor">
                    <property name="stopProceed" value="true"></property>
                </bean>-->
                <!--<bean class="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
                    &lt;!&ndash;sql可运行的最大时间ms&ndash;&gt;
                    <property name="maxTime" value="5"></property>
                    &lt;!&ndash;sql是否格式化，默认为false&ndash;&gt;
                    &lt;!&ndash;<property name="format" value="true"></property>&ndash;&gt;
                </bean>-->
                <bean class="com.baomidou.mybatisplus.plugins.OptimisticLockerInterceptor"></bean>
            </list>
        </property>
    </bean>
    <bean id="mySqlInjector" class="org.example.injector.MySqlInjector"></bean>
    <bean id="logicSqlInjector" class="com.baomidou.mybatisplus.mapper.LogicSqlInjector"></bean>

    <bean id="myMetaObjectHandler" class="org.example.metahandler.MyMetaObjectHandler">

    </bean>

    <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
        <!--2.3版本之后MybatisPlus默认是true，无需显式配置-->
        <!--会自动将实体类中驼峰的属性名映射为表的下划线-->
        <property name="dbColumnUnderline" value="true"></property>
        <!--这个idType也就是@TableId的idType-->
        <property name="idType" value="0"></property>
        <!--表前缀策略-->
        <property name="tablePrefix" value="tbl_"></property>
        <!--<property name="sqlInjector" ref="mySqlInjector"></property>-->
        <property name="sqlInjector" ref="logicSqlInjector"></property>

        <!--指定逻辑删除的逻辑值-->
        <property name="logicDeleteValue" value="-1"></property>
        <property name="logicNotDeleteValue" value="1"></property>

        <!--设置公共字段填充 处理器-->
        <property name="metaObjectHandler" ref="myMetaObjectHandler"></property>
    </bean>
    <!--配置mapper接口的扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.example.mapper"></property>
    </bean>

</beans>